.days3-wraper {
  flex-grow: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  h4 {
    margin: 1rem 0 0 0;
  }
}
.days-day {
  position: relative;
  background: #f7f7f7;
  width: 115px;
  padding: 1rem;
  display: flex;
  border: 1px solid #eaeaea;
  border-radius: 1rem;
  margin: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 5;
}

.days-current-bar1 {
  width: 95%;
  position: absolute;
  height: 50px;
  background: #e5f6ff;
  top: 58px;
  left: 2.5%;
  border-radius: 15px;
  z-index: -1;
}

.icon-rain {
  display: flex;
  margin-top: 5px;
}
.icon-rain {
  img {
    margin-top: -5px;
  }
  p {
    color: #226a8e;
    font-weight: 800;
    min-width: 40px;
    margin-left: 8px;
  }
}
.light {
  color: #999;
  padding: 0 5px 0 0;
}
.wind-day {
  width: 90px;
  p {
  }
}
