* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}
h2 {
  color: white;
  font-size: 2.5rem;
  font-weight: 500;
}
h1 {
  font-size: 4rem;
  color: white;
  font-weight: 300;
}
h3 {
  font-size: 0.8rem;
  font-weight: 500;
  color: #666;
}
h4 {
  font-weight: 400;
  color: #333;
}
p {
  color: #666;
  font-size: 0.7rem;
}
hr {
  height: 1px;
  background-color: rgb(236, 236, 236);
  margin: 0 0 0.7rem 0;
  width: 100%;
  border: none;
}
.box-style {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.03), 0 2px 2px rgba(0, 0, 0, 0.03),
    0 4px 4px rgba(0, 0, 0, 0.03), 0 8px 8px rgba(0, 0, 0, 0.03),
    0 16px 16px rgba(0, 0, 0, 0.03);
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.9);

  border-radius: 20px;
}
