* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Raleway", sans-serif;
  overflow: hidden;
}
h2 {
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
}
h1 {
  font-size: 5rem;
  color: white;
  font-weight: 300;
}
h3 {
  font-size: 0.8rem;
  font-weight: 500;
  color: #666;
}
h4 {
  font-weight: 400;
  color: #333;
}
p {
  color: #999;
  font-size: 0.7rem;
  font-weight: 300;
}
hr {
  height: 1px;
  background-color: rgb(226, 226, 226);
  margin: 2rem 0;
  width: 100%;
  border: none;
}
