input {
  border: none;
  border-radius: 20px;
  padding: 1rem 2rem;
  box-sizing: border-box;
  color: #b2b2b2;
  width: 100%;
  outline: none;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(6px);
  box-shadow: 0px 0px 20px rgb(0 0 0 / 5%);
  &::placeholder {
    color: #b2b2b2;
  }
}
