input {
  border: none;

  padding: 1rem 2rem;
  box-sizing: border-box;
  color: #b2b2b2;
  width: 100%;
  outline: none;
  background: rgba(255, 255, 255, 0.8);

  &::placeholder {
    color: #b2b2b2;
  }
}
