.seven-wraper {
  margin: 1rem 0rem 0 0rem;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  box-shadow: 0px 0px 20px rgb(0 0 0 / 5%);
  padding: 2rem 2rem;
  height: 100%;
  backdrop-filter: blur(4px);
  h4 {
    margin: 0rem 0 0 0.5rem;
  }
}
.day {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 1rem 0 0 0;
}
.drop {
  display: flex;
  justify-content: center;
  img {
    margin-right: 7px;
    width: 7px;
    height: 11px;
  }
}
.weather-icon-days {
  img {
    width: 26px;
    height: 26px;
  }
}
.progress-bar {
  width: 40%;
  display: flex;
  align-items: center;
}
.bars {
  position: relative;
  width: 100%;
  margin-top: -2px;
}
.bar1,
.bar2 {
  width: 100%;
  background: rgba(148, 178, 255, 0.17);
  border-radius: 3rem;
  height: 5px;
  position: absolute;
  transition: ease all 0.5s;
}
.bar2 {
  background: #94b2ff;
  width: 0%;
}
.p-w-left,
.p-w-right {
  min-width: 50px;
}
