.today-bar {
  background: #1c294e;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  p {
    color: white;
  }
}
.weather-icon {
}
.today-date {
}
.current-temperature {
  margin: 0rem -1rem 0 0;
  position: relative;
}
.country {
  margin-top: 0rem;
}
.other-info-wrap {
  width: 100%;
}
.other-info {
  margin: 2rem 10% 0 10%;
  width: 80%;

  p {
  }
  p:first-child {
    color: rgb(204, 204, 204);
  }
  p:last-child {
    font-size: 1.1rem;
  }
}
.cloud1,
.cloud2,
.cloud3 {
  position: absolute;
}
.cloud1 {
  top: 5%;
}
.cloud2 {
  top: 20%;
}
.cloud3 {
  top: 50%;
}
